DirectoryIndex index.php
<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    #RewriteRule ^$ /public/index.php [L]
    
    # try to access anything not public/.* then redirect to public/.*
     #RewriteRule ^((?!public/).*)$ public/$1 [L]

</IfModule>
