// $primary-color: #41b883;
// $secondary-color: #f2f2f2;
// $primary-bold-color: #35495e;
// $secondary-bold-color: #fafafb;

$primary-color: #993955;
$secondary-color: #77A6B6;
$primary-bold-color: #084C61;
$secondary-bold-color: #fafafb;

$primary : $primary-color;

$font-family: 'Quicksand', sans-serif !important;

