// $primary-color: #f17f29;
// $secondary-color: #c5dcec;
// $primary-bold-color: #f96900;
// $secondary-bold-color: #5ca8dc;
$primary-color: #41b883;
$secondary-color: #f2f2f2;
$primary-bold-color: #35495e;
$secondary-bold-color: #fafafb;

$primary : $primary-color;


